
<div class="container mt-5">
<h3>DANH SÁCH KHÓA HỌC: </h3>
    
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Giá</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.cost}}</td>
    </tr>
    {{/each}}
  
   

    
  </tbody>
</table>
</div>